<!DOCTYPE html>
<html lang="en">
<head><%- include('../partials/head') %></head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main class="mt-3 mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="float-left"><%= title %></h4>
                    <a href="/booking/create" class="btn btn-primary float-right">
                        New Booking
                    </a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Booking Number</th>
                                <th scope="col">Service Provider</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Event</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">End Time</th>
                                <th scope="col">Date</th>
                                <th scope="col">Seat Number</th>
                                <th scope="col">Seat Categpry</th>
                                <th scope="col">Seat Price</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% bookings.forEach((booking, index) => { %>
                            <tr>
                                <th scope="row"><%= index + 1 %></th>
                                <td><%= booking.bookingNumber %></td>
                                <td>
                                    <a href="/service-provider/view/<%=booking.eventShow.serviceProvider._id %>">
                                        <%= booking.eventShow.serviceProvider.name %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/customer/view/<%=booking.customer._id %>">
                                        <%= booking.customer.name %>
                                    </a>
                                </td>
                                <td><%= booking.eventShow.name %></td>
                                <td><%= booking.eventShow.startTime.toLocaleTimeString() %></td>
                                <td><%= booking.eventShow.endTime.toLocaleTimeString() %></td>
                                <td><%= booking.eventShow.date.toLocaleDateString() %></td>
                                <td><%= booking.seatNumber %></td>
                                <td><%= booking.seatCategory.name %></td>
                                <td><%= booking.seatCategory.rate %></td>
                                <td>
                                    <a href="/booking/delete/<%=booking._id %>" class="btn btn-danger">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>